/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  /* 앵커 글씨 밑줄 없애기 */
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}
span {
  color: var(--color-white);
}

/* Nvvbar */
#navbar {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
}
#navbar img {
  transform: scale(0.5);
}

/* navbar이면서 navbar--dark일때 */
#navbar.navbar--dark {
  background-color: brown;
  padding: 8px;
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-grey);
}

.navbar__toggle-btn {
  border: 1px solid pink;
  position: absolute;
  top: 78px;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
}

/* HOME */
#home {
  background: var(--color-black);
  padding: 40px;
  padding-top: 150px;
  text-align: center;
}
.home__profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-dark-white);
}
.home__intro,
.home__description {
  color: var(--color-white);
}

.home__links {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}
#best {
  background: var(--color-black);
}

.best__novels {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.novel__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  display: flex;
  background-color: var(--color-dark-grey);
}

.n_icon {
  width: 100px;
  height: 100px;
  margin: auto;
}
.novel__icon img {
  transition: all var(--animation-duration);
}

.novel__icon:hover img {
  border: 2px solid var(--color-dark-grey);
  transform: rotate(-30deg) scale(1.3);
}

.novel__title,
.novel__summary {
  color: var(--color-dark-grey);
}

.novel__summary {
  font-size: var(--font-small);
}

.etc {
  display: flex;
  align-items: center;
}
.etc__description {
  margin: 0 16px;
  text-align: left;
}
.etc__title,
.etc__summary {
  color: var(--color-light-grey);
}
.etc__title {
  font-size: var(--font-small);
}
.etc__summary {
  font-size: var(--font-micro);
}

#todaybest {
  background-color: var(--color-light-grey);
}

.ranking {
  display: flex;
  margin: 20px 0;
}
.ranking__left {
  flex-basis: 60%;
  background-color: var(--color-black);
  padding: 20px 40px;
}

.visit_list {
  display: flex;
  justify-content: space-between;
}
.visit {
  margin-bottom: 32px;
}
.visit__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}
.skill__value {
  width: 100%;
  height: 3px;
  background-color: orange;
}

.ranking__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writer {
  background-color: #212121;
  flex-basis: 60%;
}
.b-platform {
  background-color: #484848;
  flex-basis: 40%;
}

.writer,
.b-platform {
  padding: 20px;
}

/* Mybest */
#mybest {
  background-color: black;
}
.mybest__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  color: var(--color-white);
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-grey);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.mybest__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  border: 2px solid var(--color-dark-grey);
}
.list__img {
  max-width: 100%;
  max-height: 100%;
}
.list__description {
  position: absolute;
  background-color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.list:hover .list__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.list__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#genres {
  background-color: var(--color-light-grey);
}
.platforms {
  margin: 40px;
}

.platform {
  display: flex;
  align-items: center;
  margin: 32px 0;
}
.platform__avatar {
  width: 180px;
  height: 70px;
  /* border-radius: 80%; */
}
.platform__avatar:nth-child(odd) {
  margin-right: 40px;
}
.platform__avatar:nth-child(even) {
  margin-left: 40px;
}
.platform__speech-bubble {
  padding: 18px;
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-light-white);
}

.platform__speech-bubble a {
  color: rgb(44, 44, 44);
  font-weight: bold;
}

#contact {
  background-color: var(--color-black);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .best__novels {
    flex-direction: column;
  }
  .novel {
    margin: 30px;
  }
  .ranking {
    flex-direction: column;
  }
  .list {
    flex-grow: 1;
  }
}
